/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* colors */
:root {
	--color-sidebar: #000000;
	--color-toolbar: #282828;
	--color-white-text: #ffffff;
	--color-background: #141922;
	--color-gray-text: #717171;
	--color-green-selector: #ADFF2F;
    --color-header: rgba(0, 0, 0, 0.500);
}

/* text color */
.gray-text{
    color: var(--color-gray-text);
}

/* utility */
ul{
    list-style: none;
}

img{
    width: 100%;
}

.text-center{
    text-align: center;
}

.gap-30{
    gap: 30px;
}

/* flex utility */
.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

/* container */
.wrapper{
    background-color: black;
    height: 100vh;
    /* overflow: hidden; */
}

.content{
    height: calc(100vh - 90px);
    width: 100%;
}

/* fixed trasparent navbar */
.header{
    z-index: 4000;
    background-color: var(--color-header);
    height: 80px;
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
}

.header-btn{
    text-transform: uppercase;
    padding: 10px 22px;
    border-radius: 20px;
    font-size: 15px;
    color: var(--color-white-text);
    border: 1px solid var(--color-white-text);
    text-decoration: none;
    transition: transform .2s;
}

.upgrade-btn{
    padding: 20px;
    padding-right: 40px;
}

/* header button hover */
.header-btn:hover{
    transform: scale(1.2); 
}

/* left-screen sidebar */
#sidebar{
    width: 200px;
    background-color: var(--color-sidebar);
}

#logo{
    width: 90%;
    padding: 20px;
}

.small-logo{
    display: none;
}

.sidebar-element{
    margin-bottom: 10px;
}

.logo-sidebar{
    width: 17%;
    margin-left: 20px;
    vertical-align: middle;
}

.sidebar-text{
    margin-left: 10px;
    text-decoration: none;
    color: var(--color-gray-text);
    font-weight: 700;
    font-size: 15px;
}

/* playlist section */
.sidebar-playlist h4{
    color: var(--color-white-text);
    text-transform: uppercase;
    font-size: 13px;
    padding: 20px;
}

#create-playlist{
    font-size: 18px;
    padding-left: 20px;
}

.create-playlist-text{
    color: var(--color-gray-text);
    text-decoration: none;
    font-weight: 600; 
}

#create-playlist i{
    font-size: 35px;
    vertical-align: middle;
    color: var(--color-white-text);
}

.playlist-name{
    padding-left: 20px;
    padding-top: 19px;
}

.playlist-name a{
    font-weight: 700;
    color: var(--color-gray-text);
    text-decoration: none;
}

/* user section */
#dowload-logo{
    margin-left: 20px;
    width: 10%;
    vertical-align: middle;
}

#user-logo{
    margin-left: 20px;
    width: 13%;
    vertical-align: middle;
}
.user-section{
}

.bottom-sidebar{

}

.user-section a{
    color: var(--color-gray-text);
    text-decoration: none;
    font-weight: 700;
}

.user-section a img{
    margin-right: 10px;
}

#download{
    font-size: 15px;
}

#user{
    color: var(--color-white-text);
}

.sidebar-hr{
   margin-top: 10px;
   margin-bottom: 10px;
   width: 80%;
   margin-left: 10%;
}

.circle-user{
    background-color: var(--color-gray-text);
    border-radius: 50%;
}

/* main content with songs */
main{
    color: var(--color-white-text);
    width: calc(100% - 200px);
    background-color: var(--color-background);
    padding-top: 100px;
    overflow-y: auto;
    padding: 100px 20px 20px 20px;
}

.a-feature{
    text-decoration: none;
    padding: 20px;
    padding-top: 30px;
    color: var(--color-gray-text);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.a-feature:hover{
    color: var(--color-white-text);
}

/* song and author section */
.song-section{
    padding-top: 30px;
}
.song-section h3{
    font-size: 22px;
}

.song-img{
    padding-top: 30px;
    padding-bottom: 20px;
}

.card-img{
    position: relative;
}

.fa-circle-play{
    font-size: 60px;
    width: 100%;
    height: 100%;
    position: absolute;
    color: var(--color-white-text);
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}
/* card hover */
.song-img:hover{
    opacity: 0.3;
    transition: 0.5s;
}
.card-img:hover .fa-circle-play{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.song-card{
    width: calc(100% / 6 - 30px);
}

.song-card h4{
    margin-bottom: 10px;
    font-size: 15px;
}

.song-description{
    margin-top: 10px;
    font-size: 13px;
    color: var(--color-gray-text);
    font-weight: 600;
}

.circle-img{
    border-radius: 50%;
    overflow: hidden;
}

/* end-screen toolbar */
#toolbar{
    background-color: var(--color-toolbar);
    height: 90px;
}

#player-img{
    height: 50px;
}

.left-section{
    width: calc(100% / 3);
    display: flex;
    padding-left: 40px;
    align-items: center;
    height: 70px;
}

.left-section div{
    margin-right: 40px;
}

/* media query */

/* from 768px to 992px */
@media screen and (max-width: 992px){
    .flex-wrap{
        flex-wrap: wrap;
    }

    .song-card{
        width: calc(100% / 4 - 30px);
    }
    .a-feature{
        padding: 10px;
        padding-top: 30px;
    }
}

/* from 576px to 768px */
@media screen and (max-width: 768px){
    .song-card{
        width: calc(100% / 2 - 30px);
    }
}

/* from 0 to 576 */
@media screen and (max-width: 576px){

    .header {
        width: calc(100% - 50px);
        left: 50px;
    }

    #sidebar {
        width: 50px;
    }

    .logo-sidebar{
        width: 40%;
    }

    
    main {
        width: calc(100% - 50px);
    }

    .sidebar-element a,
    .sidebar-playlist,
    .bottom-sidebar a,
    .big-logo,
    .sidebar-hr{
        display: none;
    }
    
    .small-logo{
        display: block;
        width: 450%;
    }

    .a-feature{
        padding: 5px;
        font-size: 8px;
    }
}